:root {
    --text-font-family:'Inter Variable', sans-serif;
    --title-font-family:'Poppins', sans-serif;
    --text-size-normal:1rem;
    --text-size-large:2rem;
    --main-color:#3083DC;
    --accent-color:#;
}