
*{
    margin: 0;
    padding: 0;
}

.principal{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row; /*flex-direction: column; para poner item debajo de otro */
    justify-content: center;
    align-items: center;
}

.item1, .item2, .item3{
    width: 300px;
    padding: 10px;
}

.item1 img{
    width: 100%;
}

.item1{
    background-color: aqua;
}

.item2{
    background-color: blue;
}

.item3{
    background-color: blueviolet;
}