<main>
  <section class="perfil">
    <img class="perfil__avatar" src="../assets/img/avatar.jpg" alt="Imagen de avatar">
    <h2 class="perfil__nombre">John Wick</h2>
    <h3 class="perfil__titulo">Asesino legendario</h3>
    <a class="perfil__boton" href="">Seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12K</h3>
        <span>Seguidores</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7K</h3>
        <span>Siguiendo</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">40</h3>
        <span>articulos</span>
      </div>
    </div>

    <div class="perfil__bio">
      <h2>acerca de mi</h2>
      <h3>asesino a sueldo retirado y amante de los perros</h3>
    </div>

    <div class="perfil__ubicacion">
      <i class="fa-solid fa-location-dot"></i>
      <h2>Estados Unidos</h2>
      <h3>227km Cerca</h3>
    </div>

    <div class="perfil__galeria">
      <h2>Mis Fotos</h2>
      <div class="galeria__foto">
        <img class="galeria__foto galeria__foto--1" src="../assets/img/galeria1.jpg" alt="">
        <img class="galeria__foto galeria__foto--2" src="../assets/img/galeria2.jpg" alt="">
        <img class="galeria__foto" src="../assets/img/galeria3.jpg" alt="">
        <img class="galeria__foto galeria__foto--4" src="../assets/img/galeria4.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="noticias">
    <div class="noticias--part">
      <h4>PLAYSTATION</h4>
      <h3>GTA VI: FILTRACIONES DE INFORMACIÓN QUE SON BASTANTE DUDOSAS</h3>
      <p>Recientemente se filtró en Internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy buena idea de lo que podemos esperar.</p>
      <hr>
    </div>
    <div class="noticias--part">
      <h4>SWITCH</h4>
      <h3>SECUELA DE THE LEGEND OF ZELDA: BREATH OF THE WILD ANUNCIADA EN EL E3 2019</h3>
      <p>Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto.</p>
      <hr>
    </div>
    <div class="noticias--part">
      <h4>XBOX</h4>
      <h3>RED DEAD ONLINE RECIBE ACTUALIZACIÓN MASIVA Y SALE DE BETA</h3>
      <p>Rockstar lanzó el día de hoy la actualización más grande de Red Dead Online desde que el componente online de Red Dead Redemption 2 se lanzó en noviembre.</p>
      <hr>
    </div>





  </section>
</main>
