<main>
  <section class="perfil">
    <img class="perfil__avatar" src="../assets/img/avatar.jpg" alt="Imagen de avatar">
    <h2 class="perfil__nombre">John Wick</h2>
    <h3 class="perfil__titulo">Asesino legendario</h3>
    <a class="perfil__boton" href="">Seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12K</h3>
        <span>Seguidores</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7K</h3>
        <span>Siguiendo</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">40</h3>
        <span>articulos</span>
      </div>
    </div>

    <div class="perfil__bio">
      <h2>acerca de mi</h2>
      <h3>asesino a sueldo retirado y amante de los perros</h3>
    </div>

    <div class="perfil__ubicacion">
      <i class="fa-solid"></i>
      <h2>Estados Unidos</h2>
      <h3>227km Cerca</h3>
    </div>

    <div class="perfil__galeria">
      <h2>Mis Fotos</h2>
      <img class="galeria__foto galeria__foto--1" src="../assets/img/galeria1.jpg" alt="">
      <img class="galeria__foto galeria__foto--2" src="../assets/img/galeria2.jpg" alt="">
      <img class="galeria__foto" src="../assets/img/galeria3.jpg" alt="">
      <img class="galeria__foto" src="../assets/img/galeria4.jpg" alt="">
    </div>
  </section>

  <section class="noticias">
    <h1>Noticias</h1>
  </section>
</main>

<app-perfil></app-perfil>
<router-outlet />
